/* здесь используйте глобальные селекторы img, body, html и так далее */
html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: center;
  background-color: $primary-color;
  margin: 0 auto;

  @media (width >= 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

a {
  display: block;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
