/* здесь используйте глобальные переменные */
$primary-font: "Lato", arial, sans-serif;
$secondary-font: "Oswald", arial, sans-serif;
$primary-color: #ffffff;
$secondary-color: #f2f2f2;
$special-color: #68b738;
