/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";

/* BLOCKS */
@import "./blocks/visually-hidden.scss";
@import "./blocks/footer.scss";
@import "./blocks/button.scss";
@import "./blocks/header.scss";
@import "./blocks/logo.scss";
@import "./blocks/navigation.scss";
@import "./blocks/hero.scss";
@import "./blocks/programs-types.scss";
@import "./blocks/product-features.scss";
@import "./blocks/example.scss";
@import "./blocks/contacts.scss";
@import "./blocks/catalog.scss";
@import "./blocks/additional.scss";
@import "./blocks/subscribe.scss";
