.button {
  width: 100%;
  background-color: $special-color;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 10px 0;
  margin: 0;
  border: 0;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    background-color: #5eaa2f;
    outline: none;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.1);
  }
}


.additional__button {
  width: 100%;
  margin-top: 15px;


  @media (width >= 768px) {
    margin-top: 25px;
  }


  @media (width >= 1440px) {
    width: 244px;
    margin: 0;
  }
}


.card__button {
  margin-top: 20px;


  @media (width >= 768px) {
    width: 250px;
    margin: 0 auto;
    margin-top: 26px;
  }

  @media (width >= 1440px) {
    margin-top: 30px;
    width: 169px;
  }

  &--more {
    margin-top: 21px;
    color: #444444;
    background-color: $secondary-color;

    @media (width >= 768px) {
      margin-top: 82px;
    }

    @media (width >= 1440px) {
      margin-top: 92px;
    }


    &:hover {
      background-color: #ebebeb;
    }

    &:focus {
      background-color: #ebebeb;
      outline: none;
    }

    &:active {
      color: #444444;
    }

    &:disabled {
      background-color: rgba(0, 0, 0, 1);
      color: rgba(68, 68, 68, 0.1);
    }
  }
}


.hero__button {
  margin-top: 3px;


  @media (width >= 768px) {
    position: relative;
    width: 244px;
    font-size: 20px;
    line-height: 26px;
    margin-top: 51px;
    padding: 14px 0;
    z-index: 2;
  }


  @media (width >= 1440px) {
    width: 244px;
    margin-top: 52px;
    padding: 14px 0;
  }
}


.email__button {
  width: 100%;
  font-size: 20px;
  line-height: 26px;
  margin-top: 15px;
  padding: 15px 0;


  @media (width >= 768px) {
    width: 256px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 0;
    margin: 0;
  }
}
