.catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 0;
  margin: 0 auto;
  border-top: 1px solid #e6e6e6;


  @media (width >= 768px) {
    width: 708px;
    padding: 30px 0 0;
    border-top: none;
  }


  @media (width >= 1440px) {
    width: 1220px;
    padding: 78px 0 0;
  }
}

.catalog__title {
  width: 100%;
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-align: start;
  margin: 0;
  padding: 12px 20px 40px;


  @media (width >= 768px) {
    width: 80%;
    padding: 0 0 40px;
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;


  @media (width >= 768px) {
    margin-top: 55px;
    gap: 60px;
    row-gap: 70px;
    padding-bottom: 20px;
  }

  @media (width >= 1440px) {
    margin-top: 59px;
    gap: 77px 80px;
  }
}
