.catalog {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 20px;;
  margin: 0 auto;


  @media (width >= 768px) {
    width: 100%;
    padding: 0 30px;
  }


  @media (width >= 1440px) {
    width: 100%;
    padding: 65px 110px 0;
  }
}

.catalog__title {
  width: 100%;
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-align: start;
  margin: 0;
  padding: 0;


  @media (width >= 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;


  @media (width >= 768px) {
    margin-top: 84px;
    gap: 60px;
  }
}

.catalog__item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  border-top: 1px solid #ebebeb;
  justify-content: space-around;

  @media (width >= 768px) {
    width: 324px;
    flex-direction: column;
    padding: 0 37px 40px;
    background-image: linear-gradient(to bottom, $primary-color 10%, $secondary-color 90%);
    border-top: none;
  }


  @media (width >= 768px) {
    width: 245px;
    flex-direction: column;
    padding: 0 37px 40px;
    background-image: linear-gradient(to bottom, $primary-color 10%, $secondary-color 90%);
    border-top: none;
  }
}

.card__link {
  display: block;


  @media (width >= 768px) {
    width: 100%;
  }
}

.card__image {
  display: block;
  width: 140px;
  height: 86px;


  @media (width >= 768px) {
    width: 200px;
  }

  @media (width >= 768px) {
    width: 169px;
  }
}

.card__info {
  width: 140px;
  display: flex;
  flex-direction: column;


  @media (width >= 768px) {
    width: 250px;
    margin: 0 auto;
  }


  @media (width >= 1440px) {
    width: 170px;
  }
}

.card__list {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  list-style-type: none;
  justify-content: space-between;
  margin: 0;


  @media (width >= 768px) {
    font-size: 16px;
    line-height: 20px;
  }
}

.card__title {
  width: 70%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
  text-align: start;
  margin: 0;
  margin-bottom: 14px;


  @media (width >= 768px) {
    width: 60%;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
  }

  @media (width >= 768px) {
    margin: 20px auto 22px;
  }
}

.card__title--more {
  display: block;
  min-width: 204px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 53px 0 0 58px;
}

.card__description {
  margin: 0;

  &--more {
    font-size: 12px;
    line-height: 16px;
    margin: 8px auto 0;
  }
}

.card__button {
  margin-top: 17px;


  @media (width >= 768px) {
    width: 250px;
    margin: 0 auto;
    margin-top: 32px;
  }

  &--more {
    margin-top: 21px;
    color: #444444;
    background-color: $secondary-color;
  }

  @media (width >= 1440px) {
    width: 169px;
  }
}
