.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 21px;
  margin: 0 auto;
  background-color: $secondary-color;


  @media (width >= 768px) {
    padding: 0;
    justify-content: space-between;

    &--index {
      background-color: $primary-color;
    }
  }

  @media (width >= 1440px) {
    background-color: $secondary-color;
  }


  @media (width >= 1440px) {
    position: relative;
    padding: 0;
    justify-content: space-between;
  }
}

.contacts__map-nojs {
  width: 100%;
  height: 400px;
  background-color: $secondary-color;
  background-image:
    image-set(url("../../images/mobile/map/map-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/mobile/map/map-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/mobile/map/map-mobile@1x.jpg") type("image/jpg") 1x,
    url("../../images/mobile/map/map-mobile@2x.jpg") type("image/jpg") 2x);

  @media (width >= 768px) {
    width: 100%;
    margin: 0;
    background-image:
      image-set(url("../../images/tablet/map/map-tablet@1x.webp") type("image/webp") 1x,
      url("../../images/tablet/map/map-tablet@2x.webp") type("image/webp") 2x,
      url("../../images/tablet/map/map-tablet@1x.jpg") type("image/jpg") 1x,
      url("../../images/tablet/map/map-tablet@2x.jpg") type("image/jpg") 2x);
  }


  @media (width >= 1440px) {
    padding: 0;
    background-image:
      image-set(url("../../images/desktop/map/map-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/desktop/map/map-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/desktop/map/map-desktop@1x.jpg") type("image/jpg") 1x,
      url("../../images/desktop/map/map-desktop@2x.jpg") type("image/jpg") 2x);
  }

  &--off {
    display: none;
  }
}

.contacts-links-wrapper {
  width: 100%;

  @media (width >= 768px) {
    width: 100%;
    margin: 0;
    background-color: $secondary-color;
  }
}

.contacts__links {
  display: block;
  width: 320px;
  list-style-type: none;
  padding: 0 20px;
  margin: 2px auto 0;
  background-color: $secondary-color;


  @media (width >= 768px) {
    width: 706;
    display: flex;
    flex-wrap: wrap;
    padding: 52px 0 55px 2px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    gap: 0 20px;
  }

  @media (width >= 1440px) {
    width: 1440px;
    padding: 65px 110px;
    display: flex;
    align-items: center;
  }
}

.contacts-links__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 20px;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  position: relative;


  &:last-child {
    justify-content: space-between;
    border-bottom: none;

    @media (width >= 1440px) {
      justify-content: flex-end;
    }
  }


  @media (width >= 768px) {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    border-bottom: none;
  }

  @media (width >= 1440px) {
    width: 300px;
  }
}

.contacts-links__link-index {
  display: block;
  width: 128px;
  height: 24px;
  margin-bottom: 20px;
  background-image: url("../../images/mobile/logo-text-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media (width >= 768px) {
    margin: 0;
    padding: 20px;
  }
}

.contacts-links__link-index:hover {
  opacity: 0.5;
}

.contacts-links__link-index:focus {
  opacity: 0.3;
}

.contacts-links__link-index:active {
  opacity: 0.1;
}

.contacts__link-index:disabled {
  opacity: 0.2;
}

.contacts-links__academy {
  width: 100%;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  text-align: start;
  padding: 7px 35px 7px 0;

  @media (width >= 768px) {
    display: flex;
    width: 200px;
    margin: 0;
    padding: 3px 0 3px 3px;
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;
  }

  @media (width >= 1440px) {
    text-align: end;
  }

  &::after {
    content: "";
    display: flex;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#html-academy");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: #666666;
    position: absolute;
    right: 0;
    top: 0;

    @media (width >= 768px) {
      position: relative;
    }
  }
}

.contacts-links__academy:hover,
.contacts-links__academy:focus {
  &::after {
    background-color: #68b738;
  }
}

.contacts-links__academy:active {
  opacity: 0.3;

  &::after {
    background-color: #68b738;
  }
}
