.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 21px;
  background-color: $secondary-color;


  @media (width >= 768px) {
    padding: 0;
    justify-content: space-between;

    &--index {
      background-color: $primary-color;
    }
  }

  @media (width >= 1440px) {
    background-color: $secondary-color;
  }


  @media (width >= 1440px) {
    position: relative;
    padding: 0;
    justify-content: space-between;
  }
}

.contacts__address {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 26px 0;
  justify-content: space-between;
  background-color: $primary-color;


  @media (width >= 768px) {
    width: 628px;
    padding: 61px 0;
    margin: 0 auto;
    background-color: $primary-color;

    &--catalog {
      background-color: $secondary-color;
    }
  }

  @media (width >= 1440px) {
    z-index: 2;
    background-color: #ffffff;
    gap: 87px;
    width: 565px;
    padding: 60px 75px 60px 79px;
    margin: 0;
    position: absolute;
    top: 95px;
    right: calc(50% + 45px);
  }
}

.address__title {
  width: 160px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: start;
  color: #111111;
  margin: 0;
  padding-left: 20px;


  @media (width >= 768px) {
    font-size: 20px;
    line-height: 26px;
    padding: 0;
  }
}

.address__info {
  width: 160px;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  margin: 0;
  padding-right: 20px;
  justify-content: space-evenly;


  @media (width >= 768px) {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    padding: 0;
    justify-content: space-between;
    align-items: flex-end;
  }

  @media (width >= 1440px) {
    text-align: start;
    align-items: flex-start;
  }
}

.address__info--street,
.address__info--city {
  width: fit-content;
  padding: 0;
  margin: 0;
}

.contacts__map-nojs {
  display: none;
  width: 100%;
  margin: 0;
  position: relative;
  background-color: $secondary-color;


  @media (width >= 768px) {
    width: 100%;
    margin: 0;
  }


  @media (width >= 1440px) {
    padding: 0;
  }
}

.contacts-links-wrapper {
  width: 100%;

  @media (width >= 768px) {
    width: 100%;
    margin: 0;
    background-color: $secondary-color;
  }
}

.contacts__links {
  display: block;
  width: 100%;
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
  margin-top: 2px;
  background-color: $secondary-color;


  @media (width >= 768px) {
    width: 706;
    display: flex;
    flex-wrap: wrap;
    padding: 47px 0 55px 2px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: start;
    gap: 0 20px;
  }

  @media (width >= 1440px) {
    width: 1440px;
    padding: 57px 110px 65px;
    display: flex;
    align-items: center;
  }
}

.contacts-links__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 20px;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
  position: relative;


  &:last-child {
    justify-content: space-between;
    border-bottom: none;

    @media (width >= 1440px) {
      justify-content: flex-end;
    }
  }


  @media (width >= 768px) {
    padding: 0;
    margin: 0;
    justify-content: space-between;
    border-bottom: none;
  }

  @media (width >= 1440px) {
    width: 300px;
  }
}

.contacts-links__link-index {
  display: block;
  width: 128px;
  height: 24px;
  margin-bottom: 20px;
  background-image: url("../../images/mobile/logo-text-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media (width >= 768px) {
    margin: 0;
    padding: 20px;
  }
}

.contacts-links__link-index:hover {
  opacity: 0.5;
}

.contacts-links__link-index:focus {
  opacity: 0.3;
}

.contacts-links__link-index:active {
  opacity: 0.1;
}

.contacts__link-index:disabled {
  opacity: 0.2;
}

.contacts-links__social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  column-gap: 18px;
  padding-bottom: 19px;
  justify-content: center;

  @media (width >= 768px) {
    display: flex;
    width: 200px;
    padding: 0;
    margin-left: 69px;
    column-gap: 18px;
  }

  @media (width >= 1440px) {
    margin-left: 50px;
    column-gap: 18px;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  margin: auto;
  background-color: #666666;
  padding: 0 20px;

  @media (width >= 768px) {
    padding: 20px;
  }

  &--vk {
    mask-image: url("../../icons/stack.svg#vkontakte");
    mask-repeat: no-repeat;
    mask-position: right;
    mask-size: 27px 22px;
    width: 24px;
    height: 22px;
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#youtube");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 21px;
    width: 24px;
    height: 21px;
  }


  &--telegram {
    mask-image: url("../../icons/stack.svg#telegram");
    mask-repeat: no-repeat;
    mask-position: 21%;
    mask-size: 20px 20px;
    width: 22px;
    height: 20px;
  }
}

.social__link:hover,
.social__link:focus {
  background-color: #68b738;
}

.social__link:active {
  background-color: rgba(104, 183, 56, 0.3);
}

.social__link:disabled {
  opacity: 0.3;
}

.contacts-links__academy {
  width: 100%;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  text-align: start;
  padding: 7px 35px 7px 0;

  @media (width >= 768px) {
    display: flex;
    width: 200px;
    margin: 0;
    padding: 3px 0 3px 3px;
    justify-content: flex-end;
    align-items: center;
    column-gap: 24px;
  }

  @media (width >= 1440px) {
    text-align: end;
  }

  &::after {
    content: "";
    display: flex;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#html-academy");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: #666666;
    position: absolute;
    right: 0;
    top: 0;

    @media (width >= 768px) {
      position: relative;
    }
  }
}

.contacts-links__academy:hover,
.contacts-links__academy:focus {
  &::after {
    background-color: #68b738;
  }
}

.contacts-links__academy:active {
  opacity: 0.3;

  &::after {
    background-color: #68b738;
  }
}
