.container {
  width: 100%;
  margin: 0 auto;

  @media (width >= 768px) {
    width: 100%;
  }


  @media (width >= 1440px) {
    width: 100%;
  }
}


.header-container {
  width: 100%;

  @media (width >= 1440px) {
    width: 1220px;
    margin: 0 auto;
  }
}
