.contacts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 0 21px;
  background-color: $secondary-color;


  @media (width >= 768px) {
    padding: 94px 0 20px;
    justify-content: space-between;
  }


  @media (width >= 1440px) {
    position: relative;
    padding: 0;
    justify-content: space-between;
  }
}

.contacts__address {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  padding: 26px 0;
  justify-content: space-between;
  background-color: $primary-color;


  @media (width >= 768px) {
    width: 100%;
    padding: 61px 70px;
    margin: 0;
    background-color: $primary-color;
  }


  @media (width >= 1440px) {
    z-index: 2;
    background-color: #ffffff;
    gap: 87px;
    width: 565px;
    height: 199px;
    padding: 60px 75px 60px 79px;
    position: absolute;
    top: 105px;
    right: 765px;
  }
}

.address__title {
  width: 160px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: start;
  color: #111111;
  margin: 0;
  padding-left: 20px;


  @media (width >= 768px) {
    font-size: 20px;
    line-height: 26px;
    padding: 0;
  }
}

.address__info {
  width: 160px;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  margin: 0;
  padding-right: 20px;
  justify-content: space-evenly;


  @media (width >= 768px) {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 20px;
    text-align: end;
    padding: 0;
  }

  @media (width >= 1440px) {
    text-align: start;
  }
}

.address__info--street,
.address__info--city {
  width: fit-content;
  padding: 0;
  margin: 0;
}

.contacts__map {
  width: 100%;
  margin: 0;
  position: relative;


  @media (width >= 768px) {
    width: 100%;
    margin: 0;
  }


  @media (width >= 1440px) {
    padding: 10px 0;
  }
}

.contacts__links-wrapper {
  @media (width >= 1440px) {
    width: 1220px;
    margin: 0 auto;
  }
}

.map__image {
  width: 100%;
  object-fit: cover;
}

.contacts__links {
  display: block;
  width: 100%;
  list-style-type: none;
  padding: 0 20px;
  margin: 0;
  margin-top: 15px;
  background-color: $secondary-color;


  @media (width >= 768px) {
    display: flex;
    padding: 50px 30px 55px;
    margin: 0;
    justify-content: space-between;
    align-items: center;
  }

  @media (width >= 1440px) {
    display: flex;
    padding: 52px 110px 65px;
  }
}

.contacts-links__item {
  display: flex;
  margin: 20px auto;
  justify-content: space-around;
  border-bottom: 1px solid #d9d9d9;
  position: relative;


  &:last-child {
    justify-content: space-between;
    border-bottom: none;
  }


  @media (width >= 768px) {
    width: fit-content;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    border-bottom: none;
  }
}

.contacts-links__link-index {
  display: block;
  width: 128px;
  height: 24px;
  margin-bottom: 20px;
  background-image: url("../../images/mobile/logo-text-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  @media (width >= 768px) {
    margin: 0;
  }
}

.contacts-links__social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  column-gap: 24px;
  padding-bottom: 19px;

  @media (width >= 768px) {
    padding: 0;
    margin-left: 41px;
    column-gap: 27px;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  margin: auto;

  &--vk {
    background-image: url("../../icons/vkontakte.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 24px;
    height: 22px;
  }

  &--youtube {
    background-image: url("../../icons/youtube.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 24px;
    height: 21px;
  }


  &--telegram {
    background-image: url("../../icons/telegram.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 24px;
    height: 22px;
  }
}

.contacts-links__academy {
  width: 100%;
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  margin: 0;
  padding: 0;
  text-align: start;
  padding: 7px 0;

  @media (width >= 768px) {
    width: 168px;
    margin: 0;
    padding: 7px 0 7px 6px;
  }

  &::after {
    content: "";
    display: flex;
    width: 27px;
    height: 34px;
    background-image: url("../../icons/html-academy.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
