.email {
  display: flex;
  flex-direction: column;
  padding-top: 24px;

  @media (width >= 768px) {
    flex-direction: row;
    padding: 23px 38px 0;
  }

  @media (width >= 1440px) {
    margin: 0 auto;
  }
}

.email__field {
  width: 100%;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #444444;
  padding: 13px;
  border: 1px solid #e7e7e7;

  @media (width >= 768px) {
    width: 376px;
    margin: 0;
  }

  @media (width >= 1440px) {
    width: 496px;
    margin: 0;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus {
    border: 2px solid #444444;
  }

  &:disabled {
    border: 2px solid #ff8282;
  }
}

.email__button {
  width: 100%;
  font-size: 20px;
  line-height: 26px;
  margin-top: 15px;
  padding: 15px 0;


  @media (width >= 768px) {
    width: 256px;
    font-size: 20px;
    line-height: 26px;
    padding: 14px 0;
    margin: 0;
  }
}
