.example {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px 20px 35px;
  background-color: $secondary-color;


  @media (width >= 768px) {
    width: 100%;
    flex-flow: row wrap;
    padding: 45px 30px 0;
    background-color: $primary-color;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, $primary-color 0% 62.7%, $secondary-color 62.7% 100%);
  }


  @media (width >= 1440px) {
    width: 100%;
    padding: 69px 110px 65px;
    background-image: linear-gradient(to bottom, $primary-color 0% 31.3%, $secondary-color 31.3% 100%);
  }
}

.example-wrapper {
  width: 280px;
  margin: 0 auto;


  @media (width >= 768px) {
    display: flex;
    width: 708px;
    margin: 0;
    justify-content: space-between;
    flex-direction: column;
  }

  @media (width >= 1440px) {
    display: flex;
    flex-direction: row;
    width: 1220px;
    justify-content: space-between;
  }
}


.example__text-wrapper {
  @media (width >= 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  @media (width >= 1440px) {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
}

.example__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  text-align: start;


  @media (width >= 768px) {
    width: 100%;
    font-size: 60px;
    line-height: 60px;
  }
}

.example__description {
  width: 280px;
  margin: 0;
  margin-top: 40px;
  text-align: start;


  @media (width >= 768px) {
    width: 100%;
    margin-top: 60px;
  }


  @media (width >= 1440px) {
    width: 433px;
    margin-top: 146px;
  }
}

.example__result-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;


  @media (width >= 768px) {
    width: 367px;
    margin-top: 55px;
  }


  @media (width >= 1440px) {
    width: 366px;
    margin-top: 70px;
  }
}

.example__result-list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 124px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 18px;
  outline: 1px solid #cdcdcd;
  border-radius: 3px;


  @media (width >= 768px) {
    width: 162px;
    padding-bottom: 20px;
  }
}

.example__result-termin {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;


  @media (width >= 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__result-description {
  width: 77px;
  position: absolute;
  bottom: -14px;
  left: 22px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 12px;
  margin-top: 8px;
  z-index: 2;
  background-color: $secondary-color;


  @media (width >= 768px) {
    width: 140px;
    font-size: 14px;
    line-height: 14px;
    background-color: $primary-color;
    margin: 0;
    bottom: -5px;
    left: 10px;
  }

  @media (width >= 1440px) {
    background-color: $secondary-color;
    bottom: -6px;
  }
}

.example__result-price {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 0 auto;
  margin-top: 34px;


  @media (width >= 768px) {
    display: flex;
    flex-direction: column;
    width: 180px;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
    margin: 0;
    margin-top: 65px;
    row-gap: 9px;
    padding: 1px 1px 0;
  }


  @media (width >= 1440px) {
    display: flex;
    flex-direction: row;
    width: 327px;
    margin-top: 60px;
    justify-content: space-between;
  }
}

.example__proof {
  width: 280px;
  position: relative;
  margin-top: 20px;
  justify-content: center;


  @media (width >= 768px) {
    width: 560px;
    margin: 0 auto;
    margin-top: 105px;
  }


  @media (width >= 1440px) {
    width: 560px;
    margin: 0;
  }
}

.proof__image-wrapper {
  width: 280px;
  overflow: clip;
  clip-path: inset(0 50% 0 0);


  @media (width >= 768px) {
    width: 560px;
  }
}

.proof__image-wrapper--after {
  width: 280px;
  overflow: clip;
  clip-path: inset(0 0 0 50%);
  position: absolute;
  top: 0;


  @media (width >= 768px) {
    width: 560px;
  }
}

.proof__image {
  max-width: none;
  background-color: $secondary-color;

  @media (width >= 768px) {
    background-color: transparent;

    &--before {
      object-position: 0;
    }
  }
}

.proof__slider {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #666666;
  position: absolute;
  top: 108px;
  left: 120px;
  background-image: url("../../icons/slider-triangle.svg");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;

  @media (width >= 768px) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #666666;
    position: absolute;
    top: 237px;
    left: 260px;
    background-image: url("../../icons/slider-triangle.svg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
  }

  &::before {
    content: "";
    display: block;
    width: 4px;
    height: 256px;
    position: absolute;
    background-color: #666666;
    top: -108px;
    right: 16px;
    z-index: 0;

    @media (width >= 768px) {
      display: block;
      width: 4px;
      height: 512px;
      position: absolute;
      background-color: #666666;
      top: -238px;
      right: 16px;
    }
  }
}

.proof__slider:hover {
  border: 2px solid #68b738;

  &::before {
    background-color: #68b738;
  }
}

.proof__slider:active {
  border: 2px solid #5eaa2f;
  opacity: 0.6;

  &::before {
    background-color: #5eaa2f;
  }
}

.proof__slider:disabled {
  opacity: 0.3;
}
