.example {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px 20px 35px;
  background-color: $secondary-color;


  @media (min-width: 768px) {
    width: 100%;
    margin: 0;
    flex-flow: row wrap;
    padding: 45px 0 0;
    background-color: $primary-color;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, $primary-color 0% 57.3%, $secondary-color 57.3% 100%);
  }


  @media (min-width: 1440px) {
    width: 100%;
    padding: 70px 0 0;
    margin: 0 auto;
    background-image: linear-gradient(to bottom, $primary-color 0% 31%, $secondary-color 31% 100%);
  }
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;


  @media (min-width: 768px) {
    display: flex;
    width: 708px;
    margin: 0 auto;
    padding-bottom: 94px;
    justify-content: space-between;
    flex-direction: column;
  }

  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    width: 1220px;
    justify-content: space-between;
    padding-bottom: 74px;
  }
}


.example__text-wrapper {
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  @media (min-width: 1440px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.example__title {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  text-align: start;


  @media (min-width: 768px) {
    width: 60%;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: 1440px) {
    width: 70%;
  }
}

.example__description {
  width: 100%;
  margin: 0;
  margin-top: 40px;
  text-align: start;


  @media (min-width: 768px) {
    width: 100%;
    margin-top: 60px;
  }


  @media (min-width: 1440px) {
    width: 433px;
    margin-top: 146px;
  }
}

.example__result-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 32px;
  margin-top: 20px;


  @media (min-width: 768px) {
    width: 367px;
    margin-top: 55px;
    justify-content: space-between;
    gap: 0;
  }


  @media (min-width: 1440px) {
    width: 366px;
    margin-top: 68px;
  }
}

.example__result-list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 124px;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 18px;
  outline: 1px solid #cdcdcd;
  border-radius: 3px;


  @media (min-width: 768px) {
    width: 162px;
    padding-bottom: 20px;
  }
}

.example__result-termin {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;


  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__result-description {
  width: 77px;
  position: absolute;
  margin: 32px 0 0 22px;
  font-size: 12px;
  line-height: 12px;
  z-index: 2;
  background-color: $secondary-color;


  @media (min-width: 768px) {
    width: 140px;
    font-size: 14px;
    line-height: 14px;
    background-color: $primary-color;
    margin: 0;
    bottom: -5px;
    left: 10px;
  }

  @media (min-width: 1440px) {
    background-color: $secondary-color;
    bottom: -6px;
  }
}

.example__result-price {
  display: flex;
  width: 200px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 34px 0 0 47px;
  column-gap: 5px;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    width: 180px;
    font-size: 20px;
    line-height: 20px;
    text-align: end;
    margin: 0;
    margin-top: 65px;
    row-gap: 9px;
    padding: 1px 1px 0;
  }


  @media (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    width: 327px;
    margin-top: 60px;
    justify-content: space-between;
  }
}
