.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 20px 10px;
  background-color: $special-color;
  background-image: linear-gradient(#68b738d9 60%, #fff 60%),
    image-set("../images/mobile/hero-background-mobile@1xjpg" 1x type("image/jpg"), "../images/mobile/hero-background-mobile@2x.jpg" 2x type("image/jpg"));
  background-size: 100%;
    background-repeat: no-repeat;
  background-position: top;

  @media (width >= 768px) {
    width: 768px;
    position: relative;
    padding: 65px 30px 526px;
    background-color: $primary-color;
    background-image: none;
    margin: 0 auto;
  }


  @media (width >= 1440px) {
    width: 1220px;
    position: relative;
    padding: 110px 80px 184px;
  }
}

.hero-wrapper {
    padding: 0 20px;

  @media (width >= 768px) {
    padding: 0;
    padding-left: 90px;
  }
}

.hero__title {
  width: 250px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 27px;


  @media (width >=768px) {
    width: 416px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
    margin: 0;
  }


  @media (width >=1440px) {
    width: 414px;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    text-align: start;
    margin: 0;
  }
}

.hero__description {
  width: 198px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 25px;


  @media (width >=768px) {
    width: 300px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: start;
    margin: 0;
    margin-top: 40px;
  }


  @media (width >=1440px) {
    width: 300px;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: start;
    margin: 0;
    margin-top: 40px;
  }
}

.hero__image {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-top: 29px;


  @media (width >=768px) {
    width: 709px;
    position: absolute;
    top: 266px;
    left: 0;
    margin: 0;
    z-index: 1;
  }


  @media (width >=1140px) {
    width: 552px;
    position: absolute;
    top: 29px;
    left: 447px;
  }
}

.hero__button {
  margin-top: 3px;


  @media (width >=768px) {
    position: relative;
    width: 244px;
    margin-top: 50px;
    padding: 17px 0;
    z-index: 2;
  }


  @media (width >=1440px) {
    width: 244px;
    margin-top: 52px;
    padding: 14px 0;
  }
}