.hero {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 14px 20px 10px;
  background-color: $special-color;
  background-image: linear-gradient(#68b738d9 60%, #fff 60%),
    image-set("../images/mobile/hero-background-mobile@1xjpg" 1x type("image/jpg"), "../images/mobile/hero-background-mobile@2x.jpg" 2x type("image/jpg"));
  background-size: 100%;
    background-repeat: no-repeat;
  background-position: top;
}

.hero__title {
  width: 250px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 27px;
}

.hero__description {
  width: 198px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto;
  margin-top: 25px;
}

.hero__image {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-top: 29px;
}

.hero__button {
  margin-top: 3px;
}
