.logo {
  width: fit-content;
  padding-left: 20px;
  padding-bottom: 11px;

  @media (width >= 768px) {
    width: 174px;
    padding: 0;
  }
}

.logo__link {
  display: flex;
  justify-content: space-between;
}
