.logo {
  width: 190px;
  justify-content: space-between;
  padding-left: 20px;

  @media (width >= 768px) {
    width: 174px;
    padding: 0;
  }
}

.logo__link {
  display: flex;
  width: 190px;
  justify-content: space-between;
}
