.nav-wrapper {
  align-items: center;

  @media (width >= 1440px) {
    align-items: start;
  }
}

nav {
  display: flex;
  flex-wrap: wrap;
}

.nav__list {
  display: flex;
  flex-direction: column;
  width: 100vw;
  list-style-type: none;
  padding: 0;
  margin: 0;


  @media (width >= 768px) {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 436px;
    justify-content: space-between;
    margin-right: 5px;
  }

  @media (width >= 1440px) {
    background-color: transparent;
    min-width: 478px;
    margin: 0;
  }
}

.nav__list-item {
  border-top: 1px solid #e6e6e6;

  @media (width >= 768px) {
    border: none;
  }
}

.nav__link {
  display: block;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding: 22px 0 23px;

  @media (width >= 768px) {
    font-size: 18px;
    line-height: 24px;
    padding: 10px 0;
  }

  @media (width >= 1440px) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    padding-bottom: 8px;

    &--index {
      color: #ffffff;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &:disabled {
      opacity: 0.1;
    }
  }
}
