.nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (width >= 768px) {
    width: 500px;
    justify-content: flex-end;
  }

  @media (width >= 1440px) {
    width: 578px;
  }
}

.nav__list {
  display: none;
  flex-direction: column;
  width: 100vw;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: $primary-color;

  &--nojs {
    display: flex;
  }

  &--opened {
    display: flex;
    position: absolute;
    z-index: 2;
  }

  @media (width >= 768px) {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-width: 436px;
    justify-content: flex-end;
    margin-right: 4px;
    gap: 0 34px;
  }

  @media (width >= 1440px) {
    background-color: transparent;
    min-width: 478px;
    margin: 0;
  }
}

.nav__list-item {
  border-top: 1px solid #e6e6e6;

  @media (width >= 768px) {
    border: none;

    &--index {
      border-bottom: 2px solid #68b738;
    }

    &--catalog {
      border-bottom: 2px solid #68b738;
    }
  }

  @media (width >= 1440px) {
    width: fit-content;

    &--index {
      border-bottom: 2px solid #ffffff;
    }

    &--catalog {
      border-bottom: 2px solid #68b738;
    }
  }
}

.nav__link {
  display: block;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding: 22px 0 23px;

  @media (width >= 768px) {
    font-size: 18px;
    line-height: 24px;
    padding: 0 0 5px;
    text-align: end;
  }

  @media (width >= 1440px) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    padding-bottom: 6px;

    &--index {
      color: #ffffff;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &:disabled {
      opacity: 0.1;
    }
  }
}
