.programs-types {
  width: 320px;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  margin: 0 auto;


  @media (width >= 768px) {
    width: 100%;
    padding: 10px 0;
  }


  @media (width >= 1440px) {
    width: 1220px;
    padding: 82px 0 0;
    margin: 0 auto;
  }
}

.programs-types__list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;


  @media (width >= 768px) {
    padding: 0;
  }


  @media (width >= 1440px) {
    display: flex;
    padding: 0;
    justify-content: space-between;
  }
}

.programs-types__list-item {
  background-color: $secondary-color;
  padding: 1px;
  margin-bottom: 20px;

  &--skinny {
    background-image: url(../../icons/cat-skinny.svg);
    background-position: 20px 21px;
    background-repeat: no-repeat;
    background-size: 50px 53px;
  }


  &--muscle {
    background-image: url(../../icons/cat-muscle.svg);
    background-position: 20px 21px;
    background-repeat: no-repeat;
    background-size: 67px 50px;
    }


  @media (width >= 768px) {
    width: 100%;
    padding: 77px 93px 57px 82px;
    margin-bottom: 30px;


    &--skinny {
      background-image: url(../../icons/cat-skinny.svg);
      background-position: 445px 81px;
      background-repeat: no-repeat;
      background-size: 200px 211px;
    }

    &--muscle {
      background-image: url(../../icons/cat-muscle.svg);
      background-position: 445px 81px;
      background-repeat: no-repeat;
      background-size: 200px 211px;
  }
  }


  @media (width >= 1440px) {
    width: 570px;
    padding: 77px 61px 59px 52px;


    &--skinny {
      background-image: url(../../icons/cat-skinny.svg);
      background-position: 52px 41px;
      background-repeat: no-repeat;
      background-size: 100px 106px;
    }

    &--muscle {
      background-image: url(../../icons/cat-muscle.svg);
      background-position: 52px 41px;
      background-repeat: no-repeat;
      background-size: 134px 100px;
  }
  }
}

.programs-types__title {
  display: block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-top: 30px;
  margin-left: 90px;
  text-align: start;


  @media (width >= 768px) {
    width: 100%;
    font-size: 36px;
    line-height: 36px;
    text-align: start;
    padding: 0;
    margin: 0;
  }


  @media (width >= 1440px) {
    width: 100%;
    font-size: 36px;
    line-height: 36px;
    text-align: start;
    padding: 0;
    margin: 0;
    margin-left: 214px;
  }
}

.programs-types__description {
  width: 227px;
  text-align: start;
  margin: 0 auto;
  margin-top: 22px;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;


  @media (width >= 768px) {
    width: 48%;
    color: #000000;
    padding: 0;
    margin: 0;
    margin-top: 24px;
    border-bottom: none;
  }


  @media (width >= 1440px) {
    width: 100%;
    text-align: start;
    color: #000000;
    padding: 0;
    margin: 0;
    margin-top: 73px;
    border-bottom: none;
  }
}

.programs-types__link {
  display: block;
  position: relative;
  width: 134px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  padding: 15px 0 18px;


  &::after {
    content: "";
    display: flex;
    position: absolute;
    top: 12px;
    left: 122px;
    background-image: url(../../icons/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 24px 12px;
    background-position: center;
    width: 32px;
    height: 21px;


    @media (width >= 768px) {
      top: 5px;
    }
  }


  @media (width >= 768px) {
    width: 40%;
    font-size: 20px;
    line-height: 30px;
    text-align: start;
    padding: 0;
    margin: 0;
    margin-top: 52px;
  }


  @media (width >= 1440px) {
    width: 168px;
    margin-top: 23px;
  }
}
