.proof {
  width: 280px;
  position: relative;
  margin: 20px auto 0;
  justify-content: center;


  @media (min-width: 768px) {
    width: 560px;
    margin: 0 auto;
    margin-top: 105px;
  }


  @media (min-width: 1440px) {
    width: 560px;
    margin: 0;
  }
}

.proof__image-wrapper {
  width: 280px;
  overflow: clip;
  clip-path: inset(0 50% 0 0);
  margin: 0 auto;


  @media (min-width: 768px) {
    width: 560px;
  }
}

.proof__image-wrapper--after {
  width: 280px;
  overflow: clip;
  clip-path: inset(0 0 0 50%);
  position: absolute;
  top: 0;


  @media (min-width: 768px) {
    width: 560px;
  }
}

.proof__image {
  max-width: none;
  background-color: $secondary-color;

  @media (min-width: 768px) {
    background-color: transparent;

    &--before {
      object-position: 0;
    }
  }
}

.proof__slider {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  border: 2px solid #666666;
  position: absolute;
  top: 108px;
  left: 120px;

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #666666;
    position: absolute;
    top: 236px;
    left: 260px;
  }

  &::before {
    content: "";
    display: block;
    width: 3px;
    height: 110px;
    position: absolute;
    background-color: #666666;
    top: -110px;
    right: 16px;
    z-index: 0;
    box-shadow: 0 147px #666666;

    @media (min-width: 768px) {
      display: block;
      width: 4px;
      height: 237px;
      position: absolute;
      background-color: #666666;
      top: -238px;
      right: 16px;
      box-shadow: 0 274px #666666;
    }
  }

  &::after {
    content: "";
    display: flex;
    width: 30px;
    height: 30px;
    mask-image: url("../../icons/stack.svg#slider-triangle");
    mask-size: 80%;
    mask-repeat: no-repeat;
    mask-position: 0 0;
    background-color: #666666;

    @media (min-width: 768px) {
      width: 30px;
      height: 30px;
    }
  }
}

.proof__slider:hover {
  border: 2px solid #68b738;

  &::before {
    background-color: #68b738;
    box-shadow: 0 147px #68b738;

    @media (min-width: 768px) {
      box-shadow: 0 274px #68b738;
    }
  }

  &::after {
    background-color: #68b738;
  }
}

.proof__slider:active {
  opacity: 0.6;
  border: 2px solid #5eaa2f;

  &::before {
    background-color: #5eaa2f;
    box-shadow: 0 147px #5eaa2f;

    @media (min-width: 768px) {
      box-shadow: 0 274px #68b738;
    }
  }

  &::after {
    background-color: #5eaa2f;
  }
}

.proof__slider:disabled {
  opacity: 0.3;
}
