.social {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  column-gap: 18px;
  padding-bottom: 19px;
  justify-content: center;

  @media (min-width: 768px) {
    display: flex;
    width: 200px;
    padding: 0;
    margin-left: 69px;
    column-gap: 18px;
  }

  @media (min-width: 1440px) {
    margin-left: 50px;
    column-gap: 18px;
  }
}

.social__link {
  display: block;
  width: 28px;
  height: 22px;
  margin: auto;
  background-color: #666666;
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 20px;
  }

  &--vk {
    mask-image: url("../../icons/stack.svg#vkontakte");
    mask-repeat: no-repeat;
    mask-position: right;
    mask-size: 27px 22px;
    width: 24px;
    height: 22px;
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#youtube");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 24px 21px;
    width: 24px;
    height: 21px;
  }


  &--telegram {
    mask-image: url("../../icons/stack.svg#telegram");
    mask-repeat: no-repeat;
    mask-position: 21%;
    mask-size: 20px 20px;
    width: 22px;
    height: 20px;
  }
}

.social__link:hover,
.social__link:focus {
  background-color: #68b738;
}

.social__link:active {
  background-color: rgba(104, 183, 56, 0.3);
}

.social__link:disabled {
  opacity: 0.3;
}
