.subscribe {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px 20px;


  @media (width >= 768px) {
    width: 708px;
    margin: 0 auto;
    padding: 80px 0 79px;
  }

  @media (width >= 1440px) {
    width: 1220px;
    margin: 0 auto;
    padding: 96px 0 104px;
  }
}

.subscribe__title {
  width: fit-content;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: start;
  margin: 0;
  position: relative;
  background-color: $primary-color;
  box-shadow: 40px 0 #ffffff, -40px 0 #ffffff;


  @media (width >= 768px) {
    font-size: 32px;
    line-height: 32px;
    margin-left: 40px;
  }

  @media (width >= 1440px) {
    font-size: 40px;
    line-height: 40px;
    margin: 0;
  }


  &::before {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: $special-color;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: -1;
    box-shadow: 100vw 0 $special-color;

    @media (width >= 768px) {
      top: 14px;
    }

    @media (width >= 1440px) {
      top: 18px;
    }
  }
}

.subscribe__description {
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 32px 0 0;


  @media (width >= 768px) {
    width: 100%;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    padding: 66px 38px 0;
    margin: 0;
  }

  @media (width >= 1440px) {
    padding-top: 72px;
  }
}
