.wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;


  @media (width >= 768px) {
    width: 708px;
    position: relative;
  }

  @media (width >= 1440px) {
    width: 1220px;
    position: relative;
  }
}
